.paginationWrapper {
	margin-top: 2.5rem;
	display: flex;
	justify-content: space-around;
	@media screen and (max-width: 1024px) {
		margin-bottom: 100px;
	}
	ul {
		display: flex;
		gap: 0.8rem;
	}
	li {
		padding: 1.5px;
		&:global {
			&.selected {
				border: 2px solid #ea003d;
				border-radius: 10px;
			}
		}
	}
	a {
		font-size: 14px;
		cursor: pointer;
		color: #f6f6f6;
		font-weight: 600;
		padding: 10px 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		border-radius: 10px;
		transition-duration: 300ms;
	}
	a:hover {
		background-color: #ea003d;
	}
	// a:focus {
	// 	background-color: #ea003d;
	// }
}
