.slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
	.slick-slide {
		width: 700px !important;
	}
}
   @media screen and (max-width: 640px) {
    flex-direction: column;
   }
  .right-arrow {
    cursor: pointer;
    font-size: 50px;
    transition: 0.2s ease-in;
    border-radius: 50%;
    padding: 4px;
    &:hover {
      background-color: #ea003d;
    }
    @media screen and (max-width: 640px) {
    display: none;
   }
  }
  .left-arrow {
    cursor: pointer;
    font-size: 50px;
    transition: 0.2s ease-in;
    border-radius: 50%;
    padding: 4px;
    &:hover {
      background-color: #ea003d;
    }
    @media screen and (max-width: 640px) {
    display: none;
   }
  }
  .image {
    border-radius: 10px;
    @media screen and (max-width: 515px) {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
      }
  }
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
      &.active {
      opacity: 1;
      transition-duration: 1s;
    }
  }
  .slider-items {
    p {
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      @media screen and (max-width: 640px) {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
      }
      @media screen and (max-width: 509px) {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
      }
    }
    @media screen and (max-width:1024px) {
      flex-direction: column;
      align-items: center;
      h2 {
        text-align: center;
        
      }
      h1 {
        text-align: center;
        @media screen and (max-width: 640px) {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
      }
      @media screen and (max-width: 509px) {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
      }
      }
      p {
        text-align: center;
        
      }
      h3 {
        text-align: center;
      }
    }
   
  }
}

